<h1>My tasks</h1>
  
<% @tasks.each do |task| %>
  <div class='task-item'>
    <input type='checkbox'> <%= link_to(task['title'], task_path(task['id'])) %> -
    <span class="task-delete">
      <%= link_to('X', task_path(task['id']), method: :delete, data: {confirm: "Delete #{task['title']}?"}) %>
    </span>
  </div>
<% end %>

<%# Add new task link %>
<%= link_to('Add a new task', new_path) %>