<h1>My tasks</h1>
  
<% @tasks.each do |task| %>
  <div class='task-item'>
    <input type='checkbox'> <%= link_to(task['title'], task_path(task['id'])) %>
  </div>
<% end %>

<%# Add new task link %>
<%= link_to('Add a new task', new_path) %>